/* Font Faces */
@font-face {
  font-family:
    Roboto,
    Noto Sans Lao,
    sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */
body,
*,
code {
  font-family:
    Roboto,
    Noto Sans Lao,
    sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout */
#root,
.site-layout-height {
  height: auto;
}

.main-menu-inner {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

/* Ant Design Customizations */
.ant-typography {
  font-family:
    Roboto,
    Noto Sans Lao,
    sans-serif;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after {
  border-bottom: 0;
}

.ant-card {
  box-shadow: 0px 8px 20px 10px rgba(109, 117, 135, 0.08);
}

.ant-card-bordered {
  border-radius: 4px;
}

.ant-input::placeholder {
  font-family:
    Roboto,
    Noto Sans Lao,
    sans-serif;
}

.ant-input-affix-wrapper input::placeholder {
  font-family:
    Roboto,
    Noto Sans Lao,
    sans-serif;
}

/* Logo */
#components-layout-demo- top-side-2 .logo,
.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px;
  float: left;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

/* App Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: 'primary';
}

/* Logo Spin Animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
